@font-face { 
  font-family: 'TmonMonsori'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}

html{
  background-color: #f3f3f3;
  font-family: 'TmonMonsori', sans-serif;
}

* {
  text-align: center;
}
